#list2 input{
                 width: 100%;
                 margin-top: 20px;
                 border: 1px solid #EBEBEB;
                 padding: 6px;
            }
            #list2 button{
                 margin-top: 20px;
            }
           .ull{
                padding-left: 0px;
           }