*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}
.h-logo{
    float: left;
    margin-top: 15px;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.navb{
    float: right;
    margin-top: 23px;
    margin-right: 50px;
     margin-bottom: 30px;
}

.navb .nav li{
    list-style: none;
    float: left;
}
.navb .nav li a{
    text-decoration: none;
    color: #000000;
}
.navb .nav li a:hover{
    text-decoration: none;
    color: #b1b1b1;
}
.foot1 h3{
    color: #FFFFFF; 
}
.foot1 .about{
    color: darkgray;
}
.foot2 h3{
    color: #FFFFFF; 
}

.foot3 h3{
    color: #FFFFFF; 
}
.posts img{
     float: left;
     width: 50px;
     height: 50px;
     margin-top: 5px;
    
}
.photos img{
    margin-left: 8px;
    margin-top: 10px;
}
.photos img:hover{
    opacity: 0.6;
}

.posts1{
     margin-left: 65px;
    
}
.posts1 a{
    text-decoration: none;
    color: darkgray;
}
.posts1 p{
   color: darkgray;
    margin-top: 5px;
    margin-bottom: 30px;
}
.stay1{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(36, 46, 53,0.7);
    float: left;
}
.glyphicon{
    color: darkgray;
    margin-left: 9px;
    margin-top:8px;
}
.stay{
    margin-bottom: 30px;
}
.stay a{
    color:darkgray;
    text-decoration: none;
    margin-left: 20px;
}
.stay p{
    color:darkgray;
    margin-left: 50px;
}
.foot4 h3{
    color: #FFFFFF; 
}
.unde{
    width: 100%;
   background-color: #000000;
   height: 90px;
}
.unde p{
    font-size: 10px;
    color: darkgray;
    line-height: 90px;
    margin-left: 40px;
}
footer{
    width: 100%;
    height:auto;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #182127;
}
.bei{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: 30px;
    float: right;
    background-color:rgba(100,100,100,0.4);
}
.bei i{
    color: #BEC6CA;
    margin:10px 5px 5px 10px;
}
.bei:hover i{
    color: #FFFFFF;
}